h1, h4 {
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.labels {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.labels select {
    width: 180px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}